:root {
  /* Define color palette as named variables */
  --green-dark:#787240;
  --green-light:#bbb875;
  --green-grid: #ccc486;
  --muted-green: #b7b281;
  --pale:#FAF9EC;
  --afterglow:#F3EBC9;
  --heading:#4A4422;
  --tan-brown: #d5c09b;
  --pastel-brown: #b49479;
  font-family: 'futura-pt'; /* Futura-pt is imported in index.html */
  font-size: 1vw; /* Default font size for whenever it is not specified */
}

.topnav {
  /* Add a background color to the top navigation */
  background-color: var(--afterglow);
  /* Force global navigation bar to stick at top of page */
  position: fixed;
  /* Remove margins from top and left side, stretch across width of entire page*/
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  /* Force topnav to render above every element in the page */
  z-index: 10; 
}

.navImage { /* Reduce size of image logo in the Navigation bar */
  width: 100px; 
}

.topnav p { /* Formatting for the text logo in the navigation bar */
  margin-top: 10%;
  margin-left: -20%;
  color: var(--heading); /* Sets color to the --heading variable defined in :root */
  line-height: 20px;
}

.topnav a { /* Style the links inside the navigation bar */
  display:inline-block; /* Does not add a new-line afterwards */
  background-color: var(--green-light);
  /* Make text borders rounded, create extra space between each bubble and edges of header. Padding to make bubble extend to left and right of text */
  border-radius: 2vw; 
  margin-top: 25%;  
  padding: clamp(4px, 4vw, 12px);
  /* Font formatting */
  font-size: clamp(8px, 4vw, 16px);
  text-align: center; /* Centers Text */
  color: #000000;

}

.topnav a:hover { /* Text background changes color when mouse hovers over text */
  background-color: var(--pale);
}

body {
  /* Set background color, remove margins */
  background-color: var(--afterglow);
  margin: 0 auto;
}

h1 { /* Section Titles, i.e. "Meet Shane" and "Portfolio" */
  margin-left: 10%;
  color: var(--heading);
  font-size: clamp(36px, 6vw, 80px);
  padding-top: 6.2%; /* Adds a little empty space to the top, necessary for when using navigation bar. Without it, heading will be under navbar */
}

h2, h3 { /* h2 = Subsection Titles, i.e. "Demo Reel" and h3 = Slideshow section titles, i.e. "2D Graphic Design" */ 
  margin-left: 10%;
  margin-bottom: 1%;
  font-weight: normal; /* h2, h3 font-weight defaults to bold, want it to be normal */
  color: var(--heading);
  font-size: clamp(30px, 6vw, 55px);
}

h3 { /* h3 needs slightly more space at the top */
  margin-top: 3%;
}

a {
  text-decoration: none; /* No underline by default*/ 
}

p { 
  white-space: pre-line; /* A new line in the .html file means a new line will apear on the page */
  font-size: clamp(16px, 4vw, 24px); /* Default paragraph font changes from 16px to 24px */
}

.snail { /* Adjust the size of snail image to fill width of page */
  width: 100%;
  height: 100%;
  object-fit:cover; /* Crop image to fit screen instead of resizing it */
}

.logo { /* Text logo that appears on top of snail image */
  white-space: pre-line;
  color: var(--afterglow);
  font-size: calc((6vw + 8vh)/2); /* Text size changes based on average of screen width and height. */
  font-weight: bold;
  line-height: .8em; /* Reduces space between lines in logo */
  margin-left: 10%;
  bottom: 33vh; /* Moves text upward on page so it is on top of image */
  position: absolute;
  z-index: 1; /* Adds 1 to render priority so text is on top of image */
  
}

.overlay { /* Covers part of the image to create a smoother transition and indicate there is more content below the landing page */
  background-color: var(--afterglow);
  width: 100%; /* Make background cover entire width of page */
  margin-top: -5%; /* Move upward so that it covers lower part of image */
  padding: 0%;
  border-radius: 5vw; /* Base radius off of width so that a similar curve appears regardless of screen-size */
  position: relative; 
  z-index: 1; /* z-index necessary to place it above snail image */
}

.bio {
  margin-left: 9.5%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  position: relative; 
  z-index: 2; /* z-index necessary to place it above .overlay background */
}

.myself { /* Container for headshot image */
  max-width: 100%;
  height: 100%;
}

.myself img {
  border: 14px solid #a2a181; /* Image has a border with curved corners */
  width: 100%; 
  object-fit: cover;
}

@media (min-width: 992px) { /* Adjusts spacing of right column of .bio so that it is aligned with .myself. Not necessary when smaller than md breakpoint */
  .rightCol {
    margin-top: -2%;
  }
  .myself img {
    height: 100%;
  }
}

.about { /* Adds space between background edge and text */
  padding-left: 7%; 
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 3%;
  /* Sets background color and rounded corners */
  background-color: var(--green-light);
  height: 100%;
}

.about, .education, .skills, .myself img { /* Adds same border radius to all elements in .bio*/
  border-radius: 36px;
}

.education, .skills { /* Adds space between text and border of */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  height: 100%;
}

.education { /* Education background color */
  background-color: #a7a480;
}

.skills {
  background-color: var(--tan-brown);
}

.aboutheading { /* Text formatting for about heading */
  font-size: clamp(24px, 4vw, 36px);
  color: var(--heading);
}

.subheading { /* Heading format for Education and Skills, same size and color so reuse the style */
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: clamp(20px, 4vw, 36px);
  line-height: 90%; /* Reduce size of line slightly */
  color: var(--heading);
  font-weight: normal; /* Switch to normal text from the default (bold) */
  text-align: center; 
}

.about p, .education p, .skills p { /* Normal text formatting for three sections */
  font-size: 18px;
}

.education p { /* Education paragraph spacing */
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.education p b, .skills p b { /* Change color when text is bolded. */
  color: var(--heading);
}

.demoreelcontainer { /* Formatting for brown border around video */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -4%; 
  background-color: var(--tan-brown);
  border-radius: 36px;
}

.demoreel { /* Adds a little space on all sides of video */
  padding: 3%; 
}

.demoreel video { 
  width: 100%; /* Ensures video is size of .demoreel */
  border-radius: 36px;
}

.experience { /* Settings for green background of each job  */
  background-color: var(--green-grid);
  border-radius: 10vw; 
  margin: 2% 10%; /* 2% vertical margin, 10% side margins */
  display: grid; /* Grid of two columns, set size of job title, automatic size of job description */
  grid-template-columns: 38% auto; 
}

.jobh { /* Employer name, Job Title, Duration */
  /* Slight top and left padding to keep it within the background */
  margin-top: 4%; 
  margin-bottom: 2.5%;
  padding-left: 15%;
  display: table-cell /* Necessary since using grid format */
}

.jobh p { /* Increase size of job title font */
  font-size: clamp(16px, 4vw, 28px);
}

.jobd { /* Job description formatting */
  padding-top: 2%; /* Slight top and right padding to keep it within the background */
  padding-right: 5%; 
  margin: auto 0%;
  font-size: clamp(16px, 4vw, 24px);
  display: table-cell
}

.download { /* Download Resume Button */
  /* Adjust background color and edge size */
  background-color: var(--green-grid);
  border-radius: 40px;
  /* Adjust text format */
  color: var(--heading);
  font-size: clamp(16px, 4vw, 24px);  
  font-weight: bold;
  text-align: center; 
  vertical-align: center;
  padding: 1% 1%;
  /* Adjust position of download button */
  margin-left: 43%;
  margin-right: 43%;
}

.download:hover { /* Button changes color when hovering over */
  background-color: var(--pale);
}

.featuredcontainer { /* Container for Featured Work Section */
  background-color: var(--muted-green);
  margin-left: 10%; 
  margin-right: 10%;
  margin-top: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 36px;
}

.featuredcontainer .container { /* Reduce margins on grid container */
  margin-left: 7.5%; 
  margin-right: 7.5%;
}

.fheading1 { /* Project Name, formatting */
  color: var(--heading);
  font-size: clamp(36px, 8vw, 70px);   
  text-align: center;
  margin-left: 5%;
  margin-right: 5%; 
}

.fheading2 { /* Animated Short (2023) */
  color: var(--green-dark);
  font-size: clamp(20px, 5vw, 50px); 
  text-align: center;
}

.textitem1 { /* Description of Project */
  margin-left: 8%;
  margin-top: 5%;
  margin-right: 0%; 
  font-size: 16px;
  color: black;
}

/* Add a border to all featured work images and videos */
.image1 img, .image2 img, .imageFridge img, .image3 img, .image4 img, .image5 img, .video1 video, .video2 video {
  border: 5px solid var(--green-dark);
  border-radius: 36px;
  width: 100%;
}

.imageFridge img {
  margin-bottom: 1.5%; 
}

.image1, .image2, .imageFridge {
  max-width: 25vw; 
  height: 100%; 
  vertical-align: middle;
  text-align: center;
  object-fit: cover;
}

.image1 {
  margin-top: 7%;
  margin-left: 10%;
}

.image2 { /* Image of Man and Creature in Office */
  margin-top: 2.1%;
  margin-left: 10%;
}

.imageFridge {
  margin-top: 2.1%;  
  margin-left: 10%; 
  font-size: clamp(16px, 4vw, 19px); 
}

.image3, .image4, .image5 { /* Images of Model Sculpts and Creature Design */
  margin-top: 12%; 
  margin-bottom: 2%;
  margin-left: 16%;
  vertical-align: middle;
  max-width: 20vw;
} 

.image4 {
  transform: translateX(-6%);
}

.ftext2, .ftext3 {
  margin-bottom: 0%;
  text-align: center;
  font-size: clamp(16px, 4vw, 19px);  
}

.ftext2 {
  padding-left: 10.5%;
}

.ftext3 {
  padding-right: 7%; 
}

.video1, .video2 { /* Model Rotation Videos */
  margin-top: 8%;
  max-width: 29vw;
  vertical-align: middle;
  text-align: center;
  font-size: clamp(16px, 4vw, 19px);
}

.video1 {
  transform: translateX(8%);
}

.video2 {
  transform: translateX(-2%);
}

.video1 video, .video2 video {
  margin-bottom: 1.5%;
}

.fheading3 { /* Full Video introduction */
  margin-top: 4%;
  padding-top: 0%; 
  color: var(--afterglow);
  font-size: clamp(25px, 6vw, 50px);
  text-align: center;
}

.video3 { /* Full Video for the Project */
  max-width: 61.7vw;
  margin-bottom: 2%;
  margin-left: 3.8%;
  padding-top: 1%;
  vertical-align: middle;
  text-align: center;
}

.video3 video {
  width: 100%;
  border: 10px solid var(--heading);
  border-radius: 36px;
}

@media (max-width: 991px) { /* Increases size of some images and videos for small screens */
  .image1, .image2, .imageFridge, .video1, .video2 { 
    max-width: 70vw; 
    margin-right: 15%;
  }
  .textitem1, .image1, .image2, .imageFridge, .video1, .video2, .video3, .fheading3 {
    margin-left: 0%;
    margin-right: 15%;
  }

  .video1 {
    transform: translateX(-1%);
  }
  .video2 {
    transform: translateX(.1%);
  }

  .video3 {
    max-width: 65vw;
  }

  .video3 video {
    border: 5px solid var(--heading);
  }
}

/* Container for each slideshow */
.slideshow-container {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.threeDslide { /* By default, do not display it. The javascript code will update this for one of the slides at a time. */
  display: none;
}

.threeDslide img { /* Basic formatting for all images in 3D Slideshow */
  width: 100%;
  height: auto;
  border-radius: 36px;
}

h4, h6 {
  color: var(--afterglow);
  white-space: pre-line;
  font-weight: normal;
  width: 100%;
  line-height: 1em;
  padding-bottom: 0%;
}

h4 { /* h4 is the name of each project in the 3D Design and Animation Slideshow */
  font-size: 2.2em; 
  margin-bottom: 0%;
  margin-top: 10%;
}

h6 { /* h6 is the year each project was completed during in the 3D Design and Animation Slideshow */
  font-size: 1.8em; 
  margin-top: 0%;
  margin-bottom: 10%;
  padding: 0%;
}

/* First slide of 3D Design and Animation Slideshow */
.threeDSlide1Text { /* Contains Name of the Project, Year it was Completed, and the description */
  text-align: center;
  position: absolute;
  margin-left: 5%;
  margin-right: 50%;
}

.threeDSLide1Text p { /* Formatting for the description part of 3D Slide 1 */
  font-size: 1.1em;
  color: var(--heading);
  margin-top: -5%;
}

.InitialLabel, .FinalLabel, .ThroneLabel { /* Formatting shared for all three labels */
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  color: var(--afterglow);
  text-decoration: underline;
}

.InitialLabel { /* Label for Initial Sketch */
  right: 65vw; 
  top: 53%; 
}

.FinalLabel { /* Label for Final Sketch */
  right: 48vw;  
  top: 53%;
}

.SnailAngle, .SnailFront { /* Two images of Snail's Sandal */
  position: absolute;
  max-width: 33vw;
  border: 3px solid var(--afterglow);
  border-radius: 36px;
  right: 5%;
}

.SnailAngle { 
  top: 5%; 
}

.SnailFront {
  bottom: 5%;
}

.SnailAngle img, .SnailFront img, .LightingBed img, .LightingGuitar img, .LightingWindow img, .ThroneClose img, .ThroneFar img { /* Border Radius for all 3D Images */
  border-radius: 36px;
}

.SnailRender{ /* Completed Render of Snail's Sandal */
  position: absolute;
  max-width: 27vw;
  bottom: 5%;
  left: 21%;
  transform: scaleX(-1);
}

.SnailRender img {
  -webkit-filter: drop-shadow(2px 2px 10px #222);
  filter: drop-shadow(2px 2px 10px #222);
}

.SnailSketch {
  position: absolute;
  max-width: 22vw;
  bottom: 1%;
  left: 2%;
  transform: rotate(10deg)
}

/* Second slide of 3D Design and Animation Slideshow */
.threeDSlide2Text {
  text-align: center;
  position: absolute;
  margin-left: 63%;
  margin-right: 5%;
}

.threeDSLide2Text p {
  font-size: 1.1em;
  color: var(--heading);
}

.threeDSlide2Text h4 {
  font-size: 2.0em;
}

.threeDSlide3Text {
  text-align: center;
  position: absolute;
  margin-left: 5%;
  margin-right: 55%; 
}

.LightingBed, .LightingGuitar, .LightingWindow {
  position: absolute;
  border: 3px solid var(--afterglow);
  border-radius: 36px;
}

.LightingBed {
  max-width: 45vw;
  left: 4%;
  top: 7%;
}

.LightingGuitar {
  max-width: 29vw;
  bottom: 6%;
  left: 17%;
}

.LightingWindow {
  max-width: 29vw;
  bottom: 5%;
  right: 5%;
}

/* Third slide of 3D Design and Animation Slideshow */
.threeDSLide3Text p {
  font-size: 1.2em;
  color: var(--heading);
}

.threeDSlide3Text h4 {
  margin-top: 12%;
}

.threeDSLide3Text h6 {
  margin-bottom: 6%;
}

.ThroneLabel {
  right: 56vw;  
  top: 47%;
}

.ThroneSketch {
  position: absolute;
  max-width: 37vw;
  bottom: 5%;
  left: 3%;
}

.ThroneFar, .ThroneClose {
  position: absolute;
  border: 3px solid var(--afterglow);
  border-radius: 36px;
}

.ThroneClose {
  max-width: 32vw;
  bottom: 6%;
  right: 5%;
}

.ThroneFar {
  max-width: 32vw;
  top: 6%;
  right: 5%;
}
/* Fourth slide of the 3D Design and Animation Slideshow */
.Slide4Container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  position: absolute;
  text-align: center;
  margin-left: 10%; 
  margin-right: 10%; 
  color: var(--afterglow);
}

.threeDSlide4Text {
  display: table-cell;
  grid-area: 1 / 1 / 1 / 3;
}

.threeDSlide4Text h6 {
  margin-bottom: 5%;
}

.threeDSlide4Video1, .threeDSlide4Video2 {
  display: table-cell; 
  max-width: 30vw; 
  margin-right: 5%;
}

.threeDSlide4Video1 {
  grid-area: 2 / 1 / 2 / 2;
}

.threeDSlide4Video2 {
  grid-area: 2 / 2 / 2 / 3;
}

h5 {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1em;
  margin: 0px 0px 10px 0px;
}

.Slide4Container p {
  font-size: 1.2em;
  color: var(--heading);
  line-height: 1em;
}

.Slide4Container video {
  width: 100%;
  border: 2px solid var(--afterglow);
}
/* Start of 2D Graphic Design Slides */
.twoDslide {
  display: none;
}

.twoDslide img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

h7 {
  color: white;
  white-space: pre-line;
  font-weight: bold;
  font-size: 2em; 
  width: 100%;
  line-height: 1em;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

h8 {
  color: white;
  white-space: pre-line;
  font-style: italic;
  font-size: 1.1em; 
  width: 100%;
  line-height: 1em;
  margin-top: 0%;
  margin-bottom: 10%;
  padding: 0%;
}

/* First Slide of 2D Graphic Design */
.twoDSlide1Text1 {
  text-align: center;
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 55%;
}

.twoDSlide1Text1 p, .twoDSlide2Text p, .twoDSlide3Text1 p {
  font-size: 1.1em;
  color: var(--heading);
}

.DogLaneBag, .DogLaneMiniBags, .DogLaneCup, .DogLaneDesign, .DogLaneLogo, .DogLaneMerch {
  position: absolute;
}

.twoDslide1container .container {
  margin-left: 6%;
  margin-right: 5%;
}

.DogLaneBag, .DogLaneMiniBags, .DogLaneCup, .DogLaneMerch {
  max-width: 15vw;
  border: 2px solid var(--heading);
  border-radius: 36px;
  bottom: 5%;
}

.DogLaneBag img, .DogLaneMiniBags img, .DogLaneCup img, .DogLaneDesign img, .DogLaneMerch img, .DMDSketch img, .DMDGreen img, .DMDBlue img, .DMDOrange img, .DMDAnimated img, .PosterBlack img, .PosterGray img, .PosterTopText img, .PosterSideText img {
  border-radius: 35px;
}

.DogLaneDesign {
  max-width: 10vw;
  border: 2px solid var(--heading);
  border-radius: 36px;
  right: 10%;
  bottom: 42%;
}

.DogLaneLogo {
  max-width: 23vw;
  right: 14%;
  top: 9%;
}

.dot1, .dot2, .dot3 {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background-color: #A7A584;
}

.dot2 {
  background-color: #575A41;
}

.dot3 {
  background-color: #AB7057;
}

.A7A584 {
  top: 44%; 
  right: 44%;
  position: absolute;
}

.five75A41 {
  top: 44%; 
  right: 36.25%;
  position: absolute;
}
 
.AB7057 {
  top: 44%; 
  right: 28.5%;
  position: absolute;
}

/* Condense 2DSlide1 label formatting into one block of code to reduce code use */
.LogoDesignLabel, .ColorPaletteLabel, .hexcode1, .hexcode2, .hexcode3, .MockupLabel, .PosterLabel, .DMDSketchLabel, .DMDVariantsLabel, .DMDAnimatedLabel {
  font-size: 1.2em;
  text-align: center;
  position: absolute;
}

.LogoDesignLabel, .ColorPaletteLabel, .MockupLabel, .PosterLabel, .DMDSketchLabel, .DMDVariantsLabel, .DMDAnimatedLabel {
  color: var(--heading);
  text-decoration: underline;
}

.LogoDesignLabel {
  right: 19.5vw; 
  top: 5%;

}

.ColorPaletteLabel {
  right: 17vw; 
  top: 37%; 
}

.hexcode1 {
  right: 34.7vw;
  top: 54%;  
}

.hexcode2 { 
  right: 28.5vw;  
  top: 54%; 
}

.hexcode3 {
  right: 22.3vw; 
  top: 54%; 
}

.MockupLabel {
  right: 34.1vw; 
  top: 62%; 
}

/* Second Slide of 2D Graphic Design */
.twoDSlide2Text {
  text-align: center;
  position: absolute;
  white-space: pre-line;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.DMDSketch, .DMDGreen, .DMDBlue, .DMDOrange, .DMDAnimated {
  position: absolute;
  max-width: 13vw; 
  bottom: 5%;
  border: 2px solid var(--heading);
  border-radius: 36px;
}

.DMDSketch {
  left: 3%;
}

.DMDSketchLabel {
  left: 6%;
  top: 42%;
}

.DMDGreen {
  left: 22%; 
}

.DMDBlue {
  left: 41%;
}

.DMDOrange {
  left: 60%;
}

.DMDVariantsLabel {
  left: 41.5%;
  top: 42%;
}
.DMDAnimated {
  left: 79%;
}

.DMDAnimatedLabel {
  left: 81%;
  top: 42%;
}

/* Third Slide of 2D Graphic Design */
.twoDSlide3Text1 {
  text-align: center;
  position: absolute;
  white-space: pre-line;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 60%;
  font-size: 1.2em;
}

.twoDSLide3Text1 h7 {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.twoDSlide3Text1 h8 {
  padding-top: 0%;
  margin-top: 0%;
}

.PosterLabel {
  right: 40vw; 
  top: 80%; 
  text-decoration: underline;
}

.PosterBlack, .PosterGray, .PosterTopText, .PosterSideText {
  position: absolute;
  max-width: 16vw;
  border: 2px solid var(--heading);
  border-radius: 36px;
}

.PosterBlack {
  top: 7%;
  right: 12%;
}

.PosterSideText {
  top: 7%;
  right: 35%;
}

.PosterTopText {
  bottom: 7%;
  right: 28%;
  z-index: 1;
}

.PosterGray {
  bottom: 7%;
  right: 5%;
  z-index: 1;
}

/* Previous and Next buttons for the slideshows */
.prev, .next {
  position: absolute;
  top: 50%;
  padding: clamp(7px, 2vw, 16px);
  font-size: clamp(5px, 2vw, 18px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-50%);
  z-index: 9;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Contact Section */
.contactContainer {
  background-color: var(--tan-brown);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%; 
  padding-bottom: 5.5%;  
  border-radius: 36px; 
}

.cheading {
  font-size: 5em;
  color: var(--afterglow);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  padding-top: 5%;
}

.email, .linkedin, .instagram, .toTop {
  font-size: 1.5em; 
  font-weight: bold;
  color: var(--afterglow);
  background-color: var(--pastel-brown);
  border-radius: 1.5vw;   
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding: 2% 4%;
}

.email img, .linkedin img, .instagram img {
  max-width: 2vw;
  border-radius: .1em;
  margin-left: 10%;
  margin-top: -2.5%;
}

.email .container-fluid, .linkedin .container, .instagram .container, .toTop .container {
  margin-left: -3%;
}

.email h9 {
  display: flex;
  float: right; 
  margin-right: -20%; 
}

.email button {
  display: flex;
  transform: translateX(35%);   
  background-color: var(--tan-brown);
  border: 0px;
  font-family: 'futura-pt';
  font-size: 1.5vw;
  color: var(--afterglow);
  border-radius: 36px; 
  padding-left: 40%;
  padding-right: 40%; 
}

.email button:hover {
  background-color: var(--heading);
}

.toTop:hover, .linkedin:hover, .instagram:hover {
  background-color: var(--afterglow);
  color: var(--heading);
}