:root {
  /* Define color palette as named variables */
  --green-dark:#787240;
  --green-light:#bbb875;
  --green-grid: #ccc486;
  --muted-green: #bab879;
  --green-slide: #a7a480;
  --pale:#FAF9EC;
  --afterglow:#F3EBC9;
  --heading:#4A4422;
  --tan-brown: #d5c09b;
  --pastel-brown: #b49479;
  font-size: 1vw; /* Default font size for whenever it is not specified */
}

* {
  font-family: 'futura-pt'; /* Futura-pt is imported in index.html */
}

.topnav {
  /* Add a background color to the top navigation */
  background-color: var(--afterglow);
}

.navbar-brand-image { 
  margin-left: 10%;
  max-width: 90px; 
}

.collapse {
  margin-right: 10%;
}

.navbar-brand-image img {
  width: 100%;
}

.navbar-brand-text {
  margin-top: 1%;
  margin-left: -1%; 
}

.navbar-brand-text h1 { /* Formatting for the text logo in the navigation bar */
  white-space: pre-line; 
  color: var(--heading); /* Sets color to the --heading variable defined in :root */
  line-height: 28px; 
  font-size: clamp(20px, 6.5vw, 36px); 
  margin-left: 0%;
}

.nav-link { /* Style the links inside the navigation bar */
  background-color: var(--green-light); 
  /* Make text borders rounded */
  border-radius: 2vw; 
  padding-left: 10px;
  padding-right: 10px;
  /* Font formatting */
  font-size: 20px; 
  text-align: center; /* Centers Text */
  color: #000000;
}

.nav-link:hover { /* Text background changes color when mouse hovers over text */
  background-color: var(--pale); 
}

.navbar-toggler { 
  margin-right: 10%;
  border: 0px;
}

.navbar-toggler-icon {
  background-size: 100%;
  padding: 20px; 
}

.navbar-collapse {
  padding-top: 2%;
  padding-bottom: 2%; 
}

@media (max-width: 991px) { 
  .collapse {
    margin-left: 10%;
  }
  .nav-item {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

body {
  /* Set background color, remove margins */
  background-color: var(--afterglow);
  margin: 0 auto;
}

h1 { /* Section Titles, i.e. "Meet Shane" and "Portfolio" */
  font-weight: bold;
  margin-left: 10%;
  color: var(--heading);
  font-size: clamp(36px, 6vw, 80px);
  padding-top: 6.2%; /* Adds a little empty space to the top, necessary for when using navigation bar. Without it, heading will be under navbar */
}

h2, h3 { /* h2 = Subsection Titles, i.e. "Demo Reel" and h3 = Slideshow section titles, i.e. "2D Graphic Design" */ 
  margin-left: 10%;
  margin-bottom: 1%;
  font-weight: normal; /* h2, h3 font-weight defaults to bold, want it to be normal */
  color: var(--heading);
}

h2 {
  font-size: clamp(30px, 6vw, 55px);
}

h3 { /* h3 needs slightly more space at the top */
  margin-top: 3%;
  font-size: clamp(24px, 4vw, 50px); 
}

a {
  text-decoration: none; /* No underline by default*/ 
}

p { 
  white-space: pre-line; /* A new line in the .html file means a new line will apear on the page */
  font-size: clamp(16px, 4vw, 24px); /* Default paragraph font changes from 16px to 24px */
}

.snail { /* Adjust the size of snail image to fill width of page */
  width: 100%;
  height: 100%;
  object-fit:cover; /* Crop image to fit screen instead of resizing it */
}

.logo { /* Text logo that appears on top of snail image */
  white-space: pre-line;
  color: var(--afterglow);
  font-size: calc((6vw + 8vh)/2); /* Text size changes based on average of screen width and height. */
  font-weight: bold;
  line-height: .8em; /* Reduces space between lines in logo */
  margin-left: 10%;
  bottom: 33vh; /* Moves text upward on page so it is on top of image */
  position: absolute;
  z-index: 1; /* Adds 1 to render priority so text is on top of image */
}
 
@media (max-width: 1275px) {
  .logo {
    bottom: 45vh;
  }
}

@media (max-width: 992px) {
  .logo {
    bottom: 60vh; 
  }
}

.overlay { /* Covers part of the image to create a smoother transition and indicate there is more content below the landing page */
  background-color: var(--afterglow);
  width: 100%; /* Make background cover entire width of page */
  margin-top: -5%; /* Move upward so that it covers lower part of image */
  padding: 0%;
  border-radius: 5vw; /* Base radius off of width so that a similar curve appears regardless of screen-size */
  position: relative; 
  z-index: 1; /* z-index necessary to place it above snail image */
}
/* Meet Shane section */
.bio { /* Container for the About Me */
  margin-left: 9.5%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  position: relative; 
  z-index: 2; /* z-index necessary to place it above .overlay background */
}

.myself { /* Container for headshot image */
  max-width: 100%;
  height: 100%;
}

.myself img {
  border: 14px solid #a2a181; /* Image has a border with curved corners */
  width: 100%; 
  object-fit: cover;
}

@media (min-width: 992px) { /* Adjusts spacing of right column of .bio so that it is aligned with .myself. Not necessary when smaller than md breakpoint */
  .rightCol {
    margin-top: -2%;
  } 
  .myself img {
    height: 100%;
  }
}

.about { /* Adds space between background edge and text */
  padding-left: 7%; 
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 3%;
  /* Sets background color and rounded corners */
  background-color: var(--green-light);
  height: 100%;
}

.about, .education, .skills, .myself img { /* Adds same border radius to all elements in .bio*/
  border-radius: 1.8vw; 
}

.education, .skills { /* Adds space between text and border of */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;  
  height: 100%;
}

@media (min-width: 992px) {
  .education, .skills {
    padding-top: 3%; 
  }
}

.education { /* Education background color */
  background-color: var(--green-slide);
}

.skills {
  background-color: var(--tan-brown);
}

.aboutheading { /* Text formatting for about heading */
  font-size: clamp(24px, 4vw, 36px);
  color: var(--heading);
}

.subheading { /* Heading format for Education and Skills, same size and color so reuse the style */
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: clamp(20px, 4vw, 36px);
  line-height: 90%; /* Reduce size of line slightly */
  color: var(--heading);
  font-weight: normal; /* Switch to normal text from the default (bold) */
  text-align: center; 
}

.about p, .education p, .skills p { /* Normal text formatting for three sections */
  font-size: clamp(16px, 3vw, 20px); 
}

.education p, .skills p { /* Education and Skills paragraph spacing */ 
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.education p b, .skills p b { /* Change color when text is bolded. */
  color: var(--heading);
}

@media (max-width: 991px) {
  .myself {
    display: block;
    margin: auto;
  }
  .about {
    margin-top: 6.5%;   
  }
  .skills {
    margin-top: 7%;
    padding: 2%;
  }
  .education {
    margin-top: 12%;
    padding: 2%;
  }
  .subheading {
    padding-top: 2%;
    padding-bottom: 1%;
  }
  .education p, .skills p {
    padding: 2%;
  } 
}
/* Demo Reel Section */
.demoreelcontainer { /* Formatting for brown border around video */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -4%; 
  background-color: var(--tan-brown);
  border-radius: 1.8vw; 
}

.demoreel { /* Adds a little space on all sides of video */
  padding: 3%; 
}

.demoreel video { 
  width: 100%; /* Ensures video is size of .demoreel */
  border-radius: 1.8vw;
}
/* Experience Section */
.experience { /* Settings for green background of each job  */
  background-color: var(--green-grid);
  border-radius: 1.8vw;
  margin: 3% 10%; /* 3% vertical margin, 10% side margins */
}

.jobh { /* Employer name, Job Title, Duration */
  display: table-cell; /* Necessary since using grid format */
  width: 35%; 
}

.jobh h1, .jobh h2, .jobh h3 { /* Increase size of job title font */
  font-size: clamp(20px, 4vw, 28px);
  color: black;
  line-height: .8em; 
}

.jobh h1, .jobh h2, .jobh h3 {
  padding-bottom: 2%;
}

.jobh h2, .jobh h3 {
  padding-top: 2%;
}

.jobh h3 {
  margin-top: 0%;
}

@media (min-width: 992px) {
  .jobh h1, .jobh h2, .jobh h3 {
    padding-bottom: 1.2%;
  }
  .jobh h2, .jobh h3 {
    padding-top: 1.2%; 
  }
}

.jobd { /* Job description formatting */ 
  margin: 5%; 
  font-size: clamp(16px, 4vw, 24px);
  display: table-cell
}

.jobd p {
  line-height: 1.15em;
}

.jobd, .jobh {
  padding: 1em; 
  padding-bottom: 1.3em;
}

.download { /* Download Resume Button */
  /* Adjust background color and edge size */
  background-color: var(--green-grid);
  border-radius: 5vw; 
  /* Adjust text format */
  color: var(--heading);
  font-size: clamp(16px, 4vw, 24px);  
  font-weight: bold;
  text-align: center; 
  padding: 1% 1%;
  margin: 0 auto;
  display:flex;     
  margin: 0 auto;
  justify-content: center;
  align-items: center; 
  width: 250px; 
}

.download:hover { /* Button changes color when hovering over */
  background-color: var(--pale);
  border: 4px solid var(--green-grid); 
}
/* Featured Work Section, a short film */
.featuredcontainer { /* Container for Featured Work Section */
  background-color: var(--muted-green);
  margin-left: 10%; 
  margin-right: 10%;
  margin-top: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 1.8vw;
}

.featuredcontainer .container { /* Reduce margins on grid container */
  margin-left: 7.5%; 
  margin-right: 7.5%;
}

.fheading1 { /* Project Name, formatting */
  color: var(--heading);
  font-size: clamp(36px, 8vw, 70px); 
  line-height: .8em;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%; 
}

.fheading2 { /* Animated Short (2023) */
  color: var(--green-dark);
  font-size: clamp(20px, 5vw, 50px); 
  text-align: center;
}

.ftext1 { /* Description of Project */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  color: black;
}

.ftext1 p {
  line-height: 1.15em;
}

.featuredspacing { /* Adds spacing to the container */
  margin-right: 12%;
}

/* Add a border to all featured work images and videos */
.fimageDesk img, .fimageSubway img, .fimageFridge img, .fimageFront img, .fimageSide img, .fimageSmallFront img, .fimageSmallSide img, .fvideo1 video, .fvideo2 video {
  border: 5px solid var(--green-dark);
  border-radius: 1.3vw;
  width: 100%;
}

.fimageDesk, .fimageSubway, .fimageFridge {
  max-width: 24vw;  
  margin-top: 5%;
  height: 100%; 
  vertical-align: middle;
  text-align: center;
  object-fit: cover;
}

.fimageFridge, .fimageSubway {
  font-size: clamp(16px, 4vw, 19px); 
}

@media (min-width: 992px) {
  .fimageFridge b { /* Do not show text below fridge image for xs and sm */
    display: none;
  }
  .fimageSubway img {
    margin-bottom: 2%; 
  }  
}

.fimageFront, .fimageSide, .fimageSmallFront, .fimageSmallSide { /* Images of Model Sculpts and Creature Design */
  margin-top: 14%;  
  margin-bottom: 2%;
  margin-left: 16%;
  vertical-align: middle;
  max-width: 30vw;  
} 

@media (min-width: 992px) {
  .fimageSide {
    transform: translateX(-8%);
  }
  
  .fimageSmallFront {
    transform: translateX(-16%);
  }
  
  .fimageSmallSide{
    transform: translateX(-23%);  
  }
  .ftext2 {
    padding-left: 10.5%;
  }
  
  .ftext3 {
    padding-right: 8%;
  }
}

.ftext2, .ftext3 {
  margin-bottom: 0%;
  text-align: center;
  font-size: clamp(16px, 4vw, 19px);  
}

.fvideo1, .fvideo2 { /* Model Rotation Videos */
  margin-top: 8%;
  max-width: 32vw;
  vertical-align: middle;
  text-align: center;
  font-size: clamp(16px, 4vw, 19px);
}

.fvideo1 {
  transform: translateX(2%);
}

.fvideo2 {
  transform: translateX(-1%);
}

.fvideo1 video, .fvideo2 video {
  margin-bottom: 1.5%;
}

.fheading3 { /* Full Video introduction */
  margin-top: 4%;
  padding-top: 0%; 
  margin-right: 5%;
  color: var(--afterglow);
  font-size: clamp(25px, 6vw, 50px);
  line-height: 1em;  
  text-align: center;
}

.fvideo3 { /* Full Video for the Project */
  max-width: 66.5vw;
  margin-bottom: 2%;
  margin-left: 1%;
  padding-top: 1%;
  vertical-align: middle;
  text-align: center;
}

.fvideo3 video {
  width: 100%;
  border: 10px solid var(--heading);
  border-radius: 1.3vw;
}

@media (max-width: 991px) { /* Increases size of some images and videos for small screens */
  .fimageDesk, .fimageSubway, .fimageFridge, .fvideo1, .fvideo2 { 
    max-width: 80vw; 
    margin-right: 0%;
  }

  .fimageFront, .fimageSmallFront {
    transform: translateX(-10%);
  }
  .fimageSide, .fimageSmallSide { /* Images of Model Sculpts and Creature Design */
    transform: translateX(-10%); 
  } 

  .fvideo1 {
    transform: translateX(0%);
  }
  .fvideo2 {
    transform: translateX(.1%);
  }

  .fvideo3 {
    max-width: 73.3vw;
    margin-left: 0%;
  }

  .fvideo3 video {
    border: 5px solid var(--heading);
  }

  .fimageSubway b { /* Do not show text below subway image for xs and sm */
    display: none;
  }

  .imageFridge img {
    margin-bottom: 2%; 
  }
}

/* Container for each slideshow */
.slideshow-container {
  position: relative;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}

.slide3D, .slide2D, .slideFineArts { /* By default, do not display it. The javascript code will update this for one of the slides at a time. */
  display: none; 
}

.slide3D img, .slide2D img, .slideFineArts img { /* Basic formatting for all images in 3D Slideshow */
  width: 100%;
  border-radius: 1.3vw;
  object-fit: cover;
  height: auto;
}

.slide3D h2, .slide3D h3 {
  color: var(--afterglow);
  white-space: pre-line;
  font-weight: normal;
  line-height: 1em;
  padding: 0%;
  margin: 0%;
}

.slide3D h2 {
  font-size: clamp(28px, 3vw, 48px);  
}

.slide3D h3 {
  font-size: clamp(23px, 4vw, 30px);  
}

.slide3D .container-fluid, .slide2D .container-fluid, .slideFineArts .container-fluid, .slideFineArts .container {
  position: absolute;
}
/* Set up edges for all slides */
.slide3D1, .slide3D2, .slide3D3, .slide3D4, .slide2D1, .slide2D2, .slide2D3, .slideFineArts1, .slideFineArts2, .slideFineArts3 {
  background-size: cover;  /* Makes the image cover the entire container */
  background-position: center;  /* Centers the image in the container */
  background-repeat: no-repeat;  /* Ensures the image doesn't repeat */
  min-height: 100vh;  /* Sets the container's height to fill the viewport */
  border-radius: 1.3vw; 
  box-sizing: border-box;
}

.slide3D1 .container-fluid, .slide3D2 .container-fluid, .slide3D3 .container-fluid, .slide3D4 .container-fluid, .slide2D1 .container-fluid, .slide2D2 .container-fluid, .slide2D3 .container-fluid, .slideFineArts1 .container-fluid, .slideFineArts2 .container-fluid, .slideFineArts3 .container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  bottom: 0%;
  top: 0%;
  min-height: 100vh;
  box-sizing: border-box;
}
/* First slide of 3D Design and Animation Slideshow */
.slide3D1 {
  background-image: url('./3DSlides/3DSlide1.png');
}
.slide3D1Text { /* Contains Name of the Project, Year it was Completed, and the description */
  text-align: center;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.slide3D1Text p, .slide3D2Text p, .slide3D3Text p { /* Formatting for the description part of 3D Slide 1 */
  font-size: clamp(16px, 2vw, 20px);
  color: var(--heading);
  line-height: 1.15em;
}

.InitialLabel, .FinalLabel, .ThroneLabel { /* Formatting shared for all three labels */
  font-size: clamp(16px, 2.5vw, 20px);
  text-align: center;
  color: var(--afterglow);
  text-decoration: underline;
}

.SnailAngle, .SnailFront { /* Two images of Snail's Sandal */
  border: 3px solid var(--afterglow);
  border-radius: 1.3vw;
}

.SnailRender{ /* Completed Render of Snail's Sandal */
  transform: scaleX(-1); 
}

.SnailRender img {
  -webkit-filter: drop-shadow(2px 2px 10px #222);
  filter: drop-shadow(2px 2px 10px #222);
}

.SnailSketch {
  transform: rotate(10deg);
  transform: scale(.8);
}
.SnailSketch img {
  transform: translateY(-15%); 
}
/* Second slide of 3D Design and Animation Slideshow */
.slide3D2 {
  background-image: url('./3DSlides/3DSlide2.png');
}

.slide3D2Text {
  text-align: center;
}

.slide3D2Text h2 {
  padding-top: 5%; 
}

.slide3D2Text h3 {
  margin-bottom: 3%;
}

.LightingBed img, .LightingGuitar img, .LightingWindow img {
  border: 3px solid var(--afterglow);
  border-radius: 1.3vw; 
  object-fit: cover;
}
/* Third slide of 3D Design and Animation Slideshow */
.slide3D3 {
  background-image: url('./3DSlides/3DSlide3.png');
}
.slide3D3Text {
  text-align: center;
}

.slide3D3Text h2 {
  margin-top: 12%;
}

.slide3D3Text h3 {
  margin-bottom: 6%;
}

.ThroneFar, .ThroneClose {
  border: 3px solid var(--afterglow);
  border-radius: 1.3vw;
}

.ThroneFar img, .ThroneClose img, .ThroneSketch img {
  width: 100%;
  object-fit: cover;
  object-position: 80% 50%;   
}
/* Fourth slide of the 3D Design and Animation Slideshow */
.slide3D4 {
  background-image: url('./3DSlides/3DSlide4.png'); 
}
.slide3D4Text h2 { 
  margin-top: 5%;   
  margin-bottom: 0%; 
  color: var(--afterglow);
}

.slide3D4Text h3 {
  margin-bottom: 2%; 
  color: var(--afterglow);
}

.slide3D4Video1, .slide3D4Video2 { 
  border-radius: 1.3vw;
}

.slide3D4Video1 video, .slide3D4Video2 video {
  width: 100%;
  border: 2px solid var(--afterglow);
  border-radius: 1.3vw;
}

.slide3D4Text p, .slide3D4Video1 p, .slide3D4Video2 p {
  font-size: clamp(16px, 2vw, 24px); 
  color: var(--heading);
  line-height: 1em;
}

.slide3D4Video1 p, .slide3D4Video2 p {
  margin-top: 4%;
}

h4 {
  font-size: clamp(24px, 3vw, 30px);
  font-weight: normal;
  line-height: 1em;
  margin: 0px 0px 10px 0px;
  color: var(--afterglow);
}

.slide3D4Text, .slide3D4Video1 p, .slide3D4Video2 p, h4 {
  text-align: center;
} 
/* Start of 2D Graphic Design Slides */
.slide2D h2, .slideFineArts h2 {
  color: white;
  white-space: pre-line;
  font-weight: bold;
  font-size: clamp(26px, 3vw, 36px);  
  width: 100%;
  line-height: 1em;
  margin: 0%;
  padding-bottom: 0%;
}

.slide2D h3, .slideFineArts h3 {
  color: white;
  white-space: pre-line;
  font-style: italic; 
  font-size: clamp(20px, 2vw, 24px);
  width: 100%;
  line-height: 1em;
  margin: 0%;
  margin-bottom: 10%;
  padding: 0%;
}
/* First Slide of 2D Graphic Design */
.slide2D1 {
  background-image: url('./2DSlides/2DSlide1.png'); 
}

.slide2D1Text {
  text-align: center;
}

.slide2D1Text h2 {
  padding-top: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.slide2D1Text h3 { 
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 3%;
}

.slide2D1Text p, .slide2D2Text p, .slide2D3Text p {
  font-size: clamp(16px, 2vw, 24px); 
  color: var(--heading);
  line-height: 1.15em;
}

.DogLaneBag, .DogLaneMiniBags, .DogLaneCup, .DogLaneMerch, .DogLaneDesign, .DMDSketch, .DMDGreen, .DMDBlue, .DMDOrange, .DMDAnimated  {
  border: 4px solid var(--heading);
  border-radius: 1.5vw;
}

.DogLaneBag img, .DogLaneMiniBags img, .DogLaneCup img, .DogLaneDesign img, .DogLaneMerch img, .DMDSketch img, .DMDGreen img, .DMDBlue img, .DMDOrange img, .DMDAnimated img, .PosterBlack img, .PosterGray img, .PosterTopText img, .PosterSideText img {
  border-radius: 1.3vw;
}

.DogLaneLogo img {
  width: 100%;
  border-radius: 0px;
}

.col-newline {
  text-align: center; 
  white-space: pre-line;
  line-height: 1.15em;
}

.dot1, .dot2, .dot3 {
  height: 70px;
  width: 70px; 
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background-color: #A7A584;
}

.dot2 {
  background-color: #575A41;
}

.dot3 {
  background-color: #AB7057;
}

@media (max-width: 991px) {
  .dot1, .dot2, .dot3 {
    height: 35px;
    width: 35px;
  }
}

/* Condense 2DSlide1 label formatting into one block of code to reduce code use */
.LogoDesignLabel, .ColorPaletteLabel, .hexcode1, .hexcode2, .hexcode3, .MockupLabel, .PosterLabel, .DMDSketchLabel, .DMDVariantsLabel, .DMDAnimatedLabel {
  font-size: clamp(16px, 2vw, 24px);
  text-align: center;
}

.LogoDesignLabel, .ColorPaletteLabel, .MockupLabel, .PosterLabel, .DMDSketchLabel, .DMDVariantsLabel, .DMDAnimatedLabel {
  color: var(--heading);
  text-decoration: underline;
}
/* Second Slide of 2D Graphic Design */
.slide2D2 {
  background-image: url('./2DSlides/2DSlide2.png'); 
}

.slide2D2Text {
  text-align: center;
  white-space: pre-line;
  margin-left: 10%;
  margin-right: 10%;
}
.DMDSketchLabel {
  text-align: left;
  padding-left: 12%; 
}
.DMDAnimatedLabel {
  text-align: right;
  padding-right: 10%; 
}
.slide2D2Text h2 {
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.slide2D2Text h3 {  
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 0%; 
}
.mt-10 {
  margin-top: 15%; 
}
/* Third Slide of 2D Graphic Design */
.slide2D3 {
  background-image: url('./2DSlides/2DSlide3.png'); 
}

.slide2D3Text {
  text-align: center;
  white-space: pre-line;
  font-size: clamp(19px, 3vw, 24px);
}
.slide2D3Text h2 { 
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.slide2D3Text h3 { 
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 3%;
}
.PosterLabel {
  text-decoration: underline;
  text-align: center;
}
@media (min-width: 992px) {
  .PosterLabel {
    transform: translateX(-10%);
  }
  .PosterTopText, .PosterGray {
    z-index: 1;
    margin-top: -5%;
  } 
}
.PosterBlack, .PosterGray, .PosterTopText, .PosterSideText {
  border: 4px solid var(--heading);
  border-radius: 1.3vw; 
}
/* First Slide of Fine Arts and Photography */
.slideFineArts1 {
  background-image: url('./FineArtsSlides/FineArtsSlide1.png'); 
}

.slideFineArts h2 {
  line-height: 30px;
  margin-top: 0%; 
  padding-top: 0%;
}

.slideFineArts h3 {
  line-height: 28px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  margin-bottom: 0%;
  color: white;
}

.slideFineArts p {
  color: var(--heading);
  font-size: clamp(16px, 2.5vw, 20px);   
}

.concentration, .Exercises, .Photo {
  border-radius: 1.2vw; 
}

.concentration .img-fluid, .Exercises .img-fluid, .Photo .img-fluid {
  border: 3px solid var(--heading);
}

.concentration {
  width: 90%; 
}

.concentration img {
  object-fit: cover;
  height: 90%;
}

.slideFineArts1Text, .slideFineArts2Text {
  text-align: center;
}

.slideFineArts1 h2 {
  padding-left: 5%; 
  padding-right: 5%;
}

.slideFineArts1 p {
  line-height: 1.15em;
}

/* Second Slide of Fine Arts and Photography */
.slideFineArts2 {
  background-image: url('./FineArtsSlides/FineArtsSlide2.png'); 
}

.Exercises .img-fluid {
  width: 90%; 
}

.MixedMediaLabel, .GraphiteLabel {
  font-size: clamp(16px, 3vw, 24px);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: var(--heading);
  padding: 2%;
}
/* Third Slide of Fine Arts and Photograph */
.slideFineArts3 {
  background-image: url('./FineArtsSlides/FineArtsSlide3.png'); 
}
.Photo img {
  width: auto;
}
.slideFineArts3Text {
  text-align: center;
  padding-top: 5%;
}

/* Reduce border-size when image is small */
@media (max-width: 992px) {
  .SnailAngle, .SnailFront, .LightingBed img, .LightingGuitar img, .LightingWindow img, .ThroneFar, .ThroneClose {
    border: 2px solid var(--afterglow); 
  }
  .concentration img, .Exercises img, .Photo img, .DogLaneBag, .DogLaneMiniBags, .DogLaneCup, .DogLaneDesign, .DogLaneMerch, .DMDSketch, .DMDGreen, .DMDBlue, .DMDOrange, .DMDAnimated, .PosterBlack, .PosterGray, .PosterTopText, .PosterSideText {
    border: 2px solid var(--heading); 
  }
}
/* Previous and Next buttons for the slideshows */
.prev, .next {
  position: absolute;
  top: 50%;
  padding: clamp(7px, 2vw, 16px);
  font-size: clamp(5px, 2vw, 18px);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 9;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Contact Section */
.contactContainer {
  background-color: var(--tan-brown);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%; 
  padding-bottom: 5.5%;  
  border-radius: 1.8vw; 
}

.cheading {
  font-size: 5em;
  color: var(--afterglow);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  padding-top: 5%;
}

.email, .linkedin, .instagram, .toTop {
  font-size: clamp(16px, 3vw, 24px); 
  font-weight: bold;
  color: var(--afterglow);
  background-color: var(--pastel-brown);
  border-radius: 1.8vw;   
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding: 2% 4%;
}

.email img, .linkedin img, .instagram img {
  max-width: 2vw;
  margin-left: 10%;
  margin-top: -2.5%;
}

.email .container-fluid, .linkedin .container, .instagram .container, .toTop .container {
  margin-left: -3%;
}

.email h9 {
  display: flex;
  float: right; 
  margin-right: -20%; 
}

.email button {
  float: right;
  transform: translateX(35%);   
  background-color: var(--tan-brown);
  border: 0px;
  font-family: 'futura-pt';
  font-size: clamp(16px, 3vw, 24px);
  color: var(--afterglow);
  border-radius: 1.8vw; 
  padding-left: 40%;
  padding-right: 40%; 
}

.email button:hover {
  background-color: var(--heading);
}

@media (min-width: 992px) {
  .email button {
    transform: translateX(-.1vw);
  }
}

@media (min-width: 1400px) {
  .email button {
    transform: translateX(2vw); 
  }
}

.toTop:hover, .linkedin:hover, .instagram:hover {
  background-color: var(--afterglow);
  border: 4px solid var(--pastel-brown); 
  color: var(--heading);
}

@media (max-width: 991px) {
  .col-0 {
    display: none; 
  }
}

img:fullscreen, .slide3D:fullscreen img, .slide2D:fullscreen img, .slideFineArts:fullscreen img { 
  border: 0px solid black!important;
  border-radius: 0px!important;
  object-fit: contain;  
  top: 0%;
  left: 0%;
  position: absolute;
} 

/* Add Pointer to All images to indicate you can click them */
img {
  cursor: pointer;
}